.headerMenuItem {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
}

.alert {
    width: 10px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: #d5af16;
    content: '';
    min-height: 10px;

    position: absolute;
    bottom: -10%;
    right: -40%;
}