.header {
    background-image: linear-gradient(to right, #d8e361, #127766);
    padding: 1.2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 200px;
}

.menuContent {
    color: white;
    list-style: none;
    padding: 0;
    display: flex;
}

li {
    padding-left: 0;
    margin-right: 1.8rem;
}

li:last-child {
    margin-right: 0;
}

@media (min-width:600px) {
    .logo {
        max-width: 300px;
    }

    li {
        padding-left: 0;
        margin-right: 2.8rem;
    }
}